[submodule "projects/demo-a"]
	path = projects/demo-a
	url = git@github.com:yoavben/acme-platform-demo-a.git
[submodule "projects/demo-b"]
	path = projects/demo-b
	url = git@github.com:yoavben/acme-platform-demo-b.git
[submodule "platform-ai-directives"]
	path = platform-ai-directives
	url = git@github.com:yoavben/platform-ai-directives.git
